{{ "<!-- Header with Navigation - but it doesn't work?! -->" | safeHTML }}
<header id="header">
	<div class="nav-container">
		<div class="branding">
			<a href="{{ .Site.BaseURL }}">
				<img id="site-logo" src="/img/logo.jpg" alt="logo" />
			</a>
			<a href="{{ .Site.BaseURL }}">
				<h2 id="site-title">{{ .Site.Params.Title }}</h2>
			</a>
		</div>
		{{ "<!-- place menu here -->" | safeHTML }}
		<nav class="sidebar-nav">
			 {{ $currentPage := . }}
			 {{ range .Site.Menus.main }}
			 <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
			 {{ end }}
	 </nav>
	 <div class="login-register">
		 <button class="btn btn-link" type="button">Login</button>
		 <button class="btn btn-link" type="button">Sign Up</button>
	 </div>
	</div>
</header>
