
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
				<a class="navbar-brand" href="{{ .Site.BaseURL }}">
					<img id="site-logo" class="img-responsive" src="/images/main-logo.png" alt="logo" />
				</a>
				<div class="navbar-header">
					<button type="button" id="collapse-button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseThis" aria-expanded="false" aria-controls="collapseThis">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
			</div>
			<div class="pull-right hidden-xs hidden-sm hidden-md">
				<div class="login-register">
					<a class="btn btn-link login-redirect" href="{{ .Site.Params.loginUrl }}">Login</a>
					<a class="btn btn-link register-redirect" href="{{ .Site.Params.signupUrl }}">Sign Up</a>
				</div><!--login-register-->
			</div><!--pull-right -->
			<div id="collapseThis" class="collapse navbar-collapse" role="navigation" aria-expanded="true">
				<div id="navbar-links">
					{{ $currentPage := . }}
					<ul class="nav navbar-nav">
						<li class="hidden-lg">
							<div class="login-register">
								<a class="btn btn-link login-redirect" href="{{ .Site.Params.loginUrl }}">Login</a>
								<a class="btn btn-link register-redirect" href="{{ .Site.Params.signupUrl }}">Sign Up</a>
							</div><!--login-register-->
						</li>
						{{ range .Site.Menus.main }}
						<li class="nav-li"><a class="top-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name | humanize | title }}</a></li>
						{{ end }}
					</ul>
				</div><!--navbar-links-->
			</div><!--collapse-->
		</div><!--container-fluid-->
	</nav>
</header>
