@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/*override bootstrap padding*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  font-family: 'Open Sans', Arial, 'Helvetica', sans-serif;
  background-color: inherit;
  margin: 0;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

a {
  text-decoration: none;
}

 /** Top Header, Navigation and Site Branding **/
 .container-fluid {
   padding: 0;
 }

#header {
  margin: 0;
  font-size: 1.2em;
}

 /** Site Branding left header **/
.branding a {
  display: inline-block;
  text-decoration: none;
}

#site-logo {
  width: 100px;
  height: auto;
}

#site-title {
  color: #65bc45;
  font-size: 1.5em;
}

/* Navigation Menu and Login Buttons */
.navbar {
  margin-bottom: 0;
}

.nav-li {
  list-style: none;
  margin: 10px 0;
  padding: 5px;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #777;
}

@media (min-width: 768px) {
  .nav-justified>li {
  width: 50px;
  }
}
/* Login and Sign Up Buttons Top Right */
.login-register {
  display: flex;
}

.btn {
  margin: 18px 5px;
  background-color: #ffffff;
  border: 2px solid #65bc45;
  border-radius: 5px;
  color:#000;
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

.btn-default:hover {
    color: #fff;
    background-color: rgba(101, 188, 69, 0.98);
    border-color: #65bc45;
  }
/*Hero image and text overlay - html located in index.html*/
.hero-img {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("/img/header.jpg");
  width: 100vw;
  height: 30vw;
}

.hero-text-div {
  color: white;
  font-family: 'Open Sans', Arial, 'Helvetica', sans-serif;
  font-size: .75em;
  text-shadow: 1px 1px 2px black, 0 0 0.2em #98593F; rust-orange
}

/* Nested flex containers and boxes that product summaries sit in on landing page */

/*#landing-list {
  margin: .5em;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  height: 200px;
}

.product-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 0 0 20%;
  margin: 10px;
  border: 1px solid rgba(101, 188, 69, 0.5); //dg green transparent
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.075);
  min-width: inherit;
}

.box-item {
  display: flex;
  padding: 2%;
  font-size: small;
  flex: 1 0 auto;
  overflow: hidden;
}*/

.product-logo {
  width: 50px;
  height: 50px;
}
/*.product-name {
  font-size: 1.25em;
}

.read-more {
  width: auto;
  height: 1.5em;
  align-self: center;
  flex: 0 0 auto;
  padding-bottom: 35px;
}*/

/* Single Page Default */
.single-container {
  margin: 1em;
}

.tags {
  list-style: none;
  display: inline-flex;
  margin: inherit;
}

.tags li {
  padding: 5px;
  align-self: center;
}
