@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-family: Arial, 'Helvetica','Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

a {
  text-decoration: none;
}

 /** Top Header, Navigation and Site Branding **/
.nav-container {
  margin: 0;
}

.branding {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.branding a {
  display: inline-block;
  text-decoration: none;
  padding: .3em;
}

#site-logo {
  width: 100px;
  height: auto;
}

#site-title {
  color: #65bc45;
  font-size: 1.5em;
}

/*Hero image and text overlay - html located in index.html*/
.header-img {
  background-image: url("/img/header.jpg");
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, 'Helvetica','Open Sans', sans-serif;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px black, 0 0 0.2em #98593F; /*rust-orange*/
}

/*Nested flex containers and boxes that product summaries sit in*/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  height: 200px;
}

.product-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 0 0 20%;
  margin: 10px;
  border: 1px solid rgba(101, 188, 69, 0.5); //dg green transparent
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.075);
}

.box-item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 2%;
  flex: 1 0 auto;
  overflow: hidden;
}

.product-logo {
  width: 50px;
  height: 50px;
}
.product-name {
  font-size: 1.25em;
}
