{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}

<!-- The main display image with welcome text overlaid -->
<!-- static/img/header.jpg is the background image for .header-img in css -->
<div class="jumbotron hero-img">
  <div class="container hero-text-div">
    <h1 id="welcome-text">{{ .Site.Params.Welcome }}</h1>
  </div>
</div>

<!-- Range that iterates over site sections and creates a list of products -->
<!-- @todo check product limit with 'first 3'by adding more content  -->
<div class="container-fluid">
<section id="landing-list" class="row">
{{ range $sections := .Site.Home.Sections }}
<div class="row">
    <h2 class="section-title">{{ .Title | humanize | title }}</h2>
    <a class="view-all" href="{{.URL}}">
    <button class ="btn green-but read-more" type="button">View All > </button>
  </a>
</div>
    <ul class="row">
        {{ range $sections.Pages }}
        <li class="product-box col-md-3">
          <a class="box-item" href="{{ .Permalink}}">
            {{ if .Params.logo }}
            <img class="product-logo box-item" src="{{ .Params.logo }}" />
            {{ else }}
            <h4 class="logo-placeholder box-item">{{ .Params.productname }}</h4>
            {{ end }}
            <h4 class="product-name box-item">{{ .Params.productname }}</h4>
          </a>
          <p class="product-description box-item"> {{ .Params.description }}</p>
        </li>
        {{ end }}

    </ul>
{{ end }}
</section>
</div><!--.container-fluid-->
{{ partial "footer.html" . }}
