{{ partial "head.html" . }}


  {{ partial "header.html" . }}
<body>
  <div id="main" class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="{{ .Site.BaseURL }}"> Home </a></li>
          <li><a href="{{ .Page.Section }}"> {{ .Page.Section | humanize | title }}s </a></li>
        </ol>
      </div><!-- end breadcrumb column -->
      <div class="col-md-12 col-sm-12">
        <h1 class="list-title">{{ .Title | humanize | title }}</h1>
      </div><!-- end list-title div -->
      <div class="col-md-8 col-lg-8 col-sm-12">
        <ul id="product-list">
            {{ range .Data.Pages }}
                {{ .Render "li"}}
            {{ end }}
        </ul>
      </div><!-- end product list div -->
      <div class="col-md-4 sidebar visible-md-4 visible-lg-4">
        {{ partial "sidebar.html" . }}
      </div><!--col with sidebar-->
    </div><!-- end body row-->
  </div><!-- end #main .container-fluid -->
</body>

{{ partial "footer.html" . }}
