{{ partial "head.html" . }}


  {{ partial "header.html" . }}
<body>
  <div id="main" class="container-fluid">
    <div class="row">
      <div class="col-md-4 sidebar hidden-xs hidden-sm">
        {{ partial "sidebar.html" . }}
      </div><!--col with sidebar-->
      <div class="col-md-8 col-sm-12">
        <h2 class="list-title">{{ .Title | humanize | title }}</h2>
        <hr>
      </div><!-- end list-title div -->
      <div class="col-md-8 col-lg-8 col-sm-12">
        <ul id="product-list">
            {{ range .Data.Pages }}
                {{ .Render "li"}}
                <hr>
            {{ end }}
        </ul>
      </div><!-- end product list div -->

    </div><!-- end body row-->
  </div><!-- end #main .container-fluid -->
</body>

{{ partial "footer.html" . }}
