{{ partial "head.html" . }}

{{ partial "header.html" . }}

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        {{ partial "breadcrumbs.html" . }}
        <hr>
      </div><!-- end breadcrumb column -->
    <div class="row">
      <div class="col-md-4 sidebar hidden-xs hidden-sm">
        {{ partial "sidebar.html" . }}
      </div><!--col with sidebar-->
      <div class="single-content col-md-5">
        <h1>{{ .Title }}</h1>
        <div class="content">
          {{ .Content }}
          {{ partial "gettags.html" . }}
        </div><!--.content -->
      </div><!--col with content, title, tags -->
      <div class="col-md-2">
        <img class="single-logo" src="{{ .Params.logo }}" />
      </div>
    </div><!--.row for all content -->
  </div> <!-- .row for entire page below header -->
</body>

{{ partial "footer.html" . }}
