{{ partial "head.html" . }}

{{ partial "header.html" . }}

<body>
  <div class="container-fluid">
    <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{ .Site.BaseURL }}"> Home </a></li>
        <li><a href="{{ .Page.Section }}"> {{ .Page.Section | humanize | title }} </a></li>
        <li><a class="active"> {{.Title}} </a></li>
      </ol>
    </div>
  <div class=" row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
    <h1>{{ .Title }}</h1>
    <div class="single-content">
      {{ .Content }}
      <ul class="tags">
          <h4>Tags:</h4>
        {{ range .Params.tags }}
        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
    </div>
    </div>
  </div>

</body>

{{ partial "footer.html" . }}
